<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="pageHeadingFragmentPlain(title,buttonEnable, link)">
    <div>
        <div>
            <h4 th:text="${title}" ></h4>
        </div>
        <div th:if="${buttonEnable}">
            <a th:href="@{${link}}" th:text="|Add Customer|"></a>
        </div>
    </div>
</div>
</body>
</html>