<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="topMenuPlain">
        <a th:href="@{/v2/customer}">
            Customer List</a>
        <a th:href="@{/v2/customer/register-view}">
           Customer Registration</a>
    </nav>
</body>
</html>