
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body layout:fragment="page-content" >
<!-- Code block header starts -->
<div class="container mx-auto max-w-2xl">
    <div th:replace="fragments/page-heading :: pageHeadingFragment('Customer List','true', '/v1/customer/register-view')">

    </div>
</div>
<!-- Code block header end -->

<!-- Code block table start -->
<div class="container mx-auto max-w-2xl">

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-white uppercase bg-gray-800">
            <tr>
                <th scope="col" class="px-6 py-3">First Name</th>
                <th scope="col" class="px-6 py-3">Last Name</th>
                <th scope="col" class="px-6 py-3">Phone</th>
                <th scope="col" class="px-6 py-3">Country</th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Delete</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${customers}"        class="hover:bg-sky-200 ">
                <td th:text="${user.firstName}"     scope="row" class="px-6 py-4 font-medium text-black">firstName</td>
                <td th:text="${user.lastName}"      class="px-6 py-4">lastName</td>
                <td th:text="${user.email}"         class="px-6 py-4">email</td>
                <td th:text="${user.birthCountry}"  class="px-6 py-4">birthCountry</td>
                <td class="px-6 py-4 text-right">
                    <a  th:href="@{/v1/customer/register-view(userId=${user.id})}" class="font-medium text-gray-800 hover:underline">Edit</a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a  th:href="@{/v1/customer/delete(userId=${user.id})}" class="font-medium text-gray-800 hover:underline">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<!-- Code block table end -->


</body>